body{
    text-align: center;
}

h1{
    text-align: center;
    color: red;
    font-weight: bold;
}

p{
    border:solid 1px gray;
    box-shadow: 0 10px 10px 0;
    width: 80%;
    margin: 0 auto;
    margin-top:20px;
}
